@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
}


#menu{
    display: flex;
    justify-content: space-around;
    width: 10vw;
    position: relative;
    top: -16vh;
   right: -7vw;
   cursor: pointer;
}

.menuepanel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 1920px;
    height: 1080px;
    background: #2117a6;
    display: none;
   
}

#title {
    font-size: 1em;
    color: white;
    float: right;
    margin-top: 86px;
    margin-right: 22px;
}

#sign {
    float: right;
    margin-top: 77px;
    margin-right: 122px;
    cursor: pointer;
}

#menue p {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
}

#menue h2 {
    margin-left: 20px;
    display: inline-block;
    font-size: 5em;
    margin-bottom: 110px;
    color: #2117a6;
    text-shadow:    2px  2px 1px white,
                    2px -2px 1px white,
                    -2px  2px 1px white,
                    -2px -2px 1px white;
}

.block1, .block2 {
    font-style: italic;
    margin-left: 60px;
    margin-top: 90px;
    transform: rotate(-25deg);
}

#menue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 300px;
    margin-top: 150px;

}


#logo {
    margin-left: 40px;
    margin-top: 40px;
}

.pics {
    margin-bottom: 3%;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

main h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 2em;
}


#projects  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    font-style: italic;
    background: #2117a6;
    color: white;
    padding-bottom: 50px;
}

#projectstitle{
    color: white;
    background: #2117a6;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 400;

}

#projects h2 {
    font-size: 3em;
    color: white;
    font-weight: 600;

}

#gradient {
    width: 100%;
    height: 400px;
    display: block;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #2117a6 0%, white 50%);
    margin-bottom: 0;
}

hr { 
    margin: 0;
    width: 95%; 
    height: 1px; 
    margin: 0 auto;
    color: #2117a6;
    background: white;
}

footer {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 80px;
    background: #2117a6;
    color: white;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

ul {
/*     text-transform: uppercase;
 */ list-style-type: none;
    font-size: 10px;
    padding: 0;
}

