@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    position: relative;
    top: -60px;
    left: -40px;
}

header img:first-of-type {
    position: relative;
    top: 1px;
    right: 0;
    z-index: 1;
    margin-left: 12px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
    position: relative;
    top: -10vh;
   right: -5vw;
   cursor: pointer;
}

#menu h1 {
    font-size: 1.3em;
    color: #2117a6;
}

#logo {
    position: relative;
    top: -30px;
    left: -450px;
}

header img:first-of-type {
    position: relative;
    top: 1px;
    right: 0;
    z-index: 1;
    margin-left: 12px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
    position: relative;
    top: -50px;
   right: -310px;
   cursor: pointer;
}

#menu h1 {
    font-size: 1.3em;
    color: #2117a6;
}



.menuepanel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 1920px;
    height: 1080px;
    background: #2117a6;
    display: none;
   
}

#title {
    font-size: 1em;
    color: white;
    float: right;
    margin-top: 86px;
    margin-right: 22px;
}

#sign {
    float: right;
    margin-top: 77px;
    margin-right: 122px;
    cursor: pointer;
}

#menue p {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
}

#menue h2 {
    margin-left: 20px;
    display: inline-block;
    font-size: 5em;
    margin-bottom: 110px;
    color: #2117a6;
    text-shadow:    2px  2px 1px white,
                    2px -2px 1px white,
                    -2px  2px 1px white,
                    -2px -2px 1px white;
}


.block1, .block2 {
    font-style: italic;
    margin-left: 60px;
    margin-top: 90px;
    transform: rotate(-25deg);
}

#menue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 300px;
    margin-top: 150px;

}



#logo {
    margin-left: 0;
    position: relative;
    top: 20px;
    left: -300px;
}

#uberuns {
    width: 60vw;
    position: absolute;
    margin-left: 25vw;
    top: 300px;
    color: #2117a6;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


#gradient {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to top, #2117a6 0%, white 50%);
    margin-bottom: 0;
}

hr { 
    margin: 0;
    width: 95%; 
    height: 1px; 
    margin: 0 auto;
    color: #2117a6;
    background: white;
}

footer {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 80px;
    background: #2117a6;
    color: white;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

ul {
/*     text-transform: uppercase;
 */ list-style-type: none;
    font-size: 10px;
    padding: 0;
}