@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    position: relative;
    top: -60px;
    left: -40px;
}

header img:first-of-type {
    position: relative;
    top: 1px;
    right: 0;
    z-index: 1;
    margin-left: 12px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
    position: relative;
    top: -10vh;
   right: -5vw;
   cursor: pointer;
}

#menu h1 {
    font-size: 1.3em;
    color: #2117a6;
}

#logo {
    position: relative;
    top: -60px;
    left: -40px;
}

header img:first-of-type {
    position: relative;
    top: 1px;
    right: 0;
    z-index: 1;
    margin-left: 12px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
    position: relative;
    top: -10vh;
   right: -5vw;
   cursor: pointer;
}

#menu h1 {
    font-size: 1.3em;
    color: #2117a6;
}

.menuepanel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 1920px;
    height: 1080px;
    background: #2117a6;
    display: none;
   
}

#title {
    font-size: 1em;
    color: white;
    float: right;
    margin-top: 86px;
    margin-right: 22px;
}

#sign {
    float: right;
    margin-top: 77px;
    margin-right: 122px;
    cursor: pointer;
}

#menue p {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
}

#menue h2 {
    margin-left: 20px;
    display: inline-block;
    font-size: 5em;
    margin-bottom: 110px;
    color: #2117a6;
    text-shadow:    2px  2px 1px white,
                    2px -2px 1px white,
                    -2px  2px 1px white,
                    -2px -2px 1px white;
}


.block1, .block2 {
    font-style: italic;
    margin-left: 60px;
    margin-top: 90px;
    transform: rotate(-25deg);
}

#menue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 300px;
    margin-top: 150px;

}

section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    left: 4vw;
}

.maintext {
    position: relative;
    left: -4vw;
    top: -3vh;
    color: #2117a6;
    width: 600px;
    color: #2117a6;
    font-style: italic;
    font-weight: 600;
    font-size: 2.5em
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    font-style: italic;
    color: #2117a6;
    width: 70vw;
    margin-left: auto;
}

#projectstitle { 
    color: black;
    font-size: 12px;
    padding-bottom: 20px;
    width: 70vw;
    margin-left: auto;
    font-weight: 600;
}

#projects h2 {
    font-size: 3em;
    color: #2117a6;
    font-weight: 600;
    letter-spacing: 2px;;
}
#projects p {
    font-size: .7em;
    color: black;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

#bloggi {
    grid-area: blog;
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 0;
    background: #2117a6;
    color: white;
    margin-bottom: 0;
}
#gradient {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to top, #2117a6 0%, white 70%);
    margin-bottom: 0;
}


#bloggi h3 {
    font-size: 10px;
    color: white;
    padding-bottom: 30px;
    margin-left: 20vw;
}

#bloggi h1 {
/*     text-shadow: 0 0 2px white;*/   
    font-style: italic;
    text-shadow:    1px  1px 1px white,
                    1px -1px 1px white,
                    -1px  1px 1px white,
                    -1px -1px 1px white;
    color: #2117a6;
    font-size: 4em;
    padding-top: 20px;
    margin-left: 20vw;
}

#bloggi p {
    font-size: 10px;
    color: white;
    padding-bottom: 30px;
    font-style: italic;
    padding-top: 5px;
    margin-bottom: 0;
    margin-left: 20vw;
}

footer {
    grid-area: footer;
    background: blue;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 80px;
    padding: 40px 80px 80px 80px;
    background: #2117a6;
    color: white;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

footer a {
        color:inherit;
        text-decoration:none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    height: 100vh;

    grid-template-areas:
    'header header header header'
    'main main main main'
    'blog blog blog blog'
    'footer footer footer footer ';
  }

main {
      grid-area: main;
    }

hr { 
    width: 99%; 
    height: 22px; 
    margin: 0;
    background-color: white;
}

ul {
/*     text-transform: uppercase;
 */ list-style-type: none;
    font-size: 14px;
    padding: 0;
}

@media (max-width: 600px) {
    .container {
        grid-template-areas:
        "header"
        "section"
        "main"
        "blog"
        "footer";

        grid-template-columns: 1fr;
        grid-template-rows:
        1fr /* header */
        minmax (75px, auto) /* nav */
        1fr /* main */
        minmax (75px, auto) /* ?? */
        auto; /* footer */
    }
}


