* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pics {
    width: 60%;
}

header {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
}
#circletext {
    font-size: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    text-shadow:    1px  1px 1px blue,
                    1px -1px 1px blue,
                    -1px  1px 1px blue,
                    -1px -1px 1px blue;
    color: white;
}

#projects  {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    font-style: italic;
}

#projectstitle{
    color: black;
    font-size: 12px;
    padding-bottom: 20px;
}

#projects h2 {
    font-size: 2em;
    color: blue;
}

#gradient {
    width: 1200px;
    height: 200px;
    display: block;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, blue 0%, white 50%);
    margin-bottom: 0;
}

#blog {
    width: 1200px;
    margin-top: 0;
    background: blue;
    color: white;
    padding-bottom: 50px;
}

#blog h3 {
    font-size: 10px;
    color: white;
    padding-bottom: 30px;
}

#blog h1 {
/*     text-shadow: 0 0 2px white;*/   
    font-style: italic;
    text-shadow:    1px  1px 1px white,
                    1px -1px 1px white,
                    -1px  1px 1px white,
                    -1px -1px 1px white;
    color: blue;
    font-size: 3em;
    padding-top: 20px;
}

#blog p {
    font-size: 10px;
    color: white;
    padding-bottom: 30px;
    font-style: italic;
    padding-top: 5px;

}


hr { 
    margin: 0;
    width: 95%; 
    height: 1px; 
    margin: 0 auto;
    color: blue;
    background: white;
}

footer {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 80px;
    background: blue;
    color: white;
    width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

ul {
/*     text-transform: uppercase;
 */ list-style-type: none;
    font-size: 10px;
    padding: 0;
}